<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

<connectionStrings>
  <add name="MailContext" connectionString="Data Source=.;Initial Catalog=EmailContent;Integrated Security=True;Pooling=True" providerName="System.Data.SqlClient" />
  <add name="ValidationContext" connectionString="Data Source=.;Initial Catalog=ValidationHistory;Integrated Security=True;Pooling=True" providerName="System.Data.SqlClient" />
</connectionStrings>
    <userSettings>
        <App.Properties.Settings>
            <setting name="src" serializeAs="String">
                <value>C:\Users\dannguyen\source\repos\build\src</value>
            </setting>
            <setting name="des" serializeAs="String">
                <value>C:\Users\dannguyen\source\repos\build\des</value>
            </setting>
        </App.Properties.Settings>
    </userSettings>
</configuration>